name: CI

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install PDM
        run: python -m pip install --upgrade pip pdm

      - name: Install dependencies
        run: pdm install

      - name: Lint/Compile sources
        run: pdm run python -m compileall src

      - name: Build sample site
        run: pdm run mkdocs build -f example/mkdocs.yml
